body{
color:green;
text-align:center;
background-color:white;
background-image:url(https://i.pinimg.com/originals/87/e2/03/87e20377c9c37d0b07dcc10504c636a8.png);
background-position:top center;
background-repeat:no-repeat;
}